[Unit]
Description=Honda Accord HUD
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=chrismslist
SupplementaryGroups=video render input
Environment=PYGAME_HIDE_SUPPORT_PROMPT=1
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=SDL_FBDEV=/dev/fb0
ExecStartPre=-/bin/sh -c "setterm --clear all --cursor off > /dev/tty1 2>/dev/null"
ExecStartPre=-/usr/bin/timedatectl set-ntp true
ExecStartPre=-/usr/bin/amixer -c 0 sset PCM 100%
ExecStart=/usr/bin/python3 -W ignore -u /home/chrismslist/car-hud/hud.py
Restart=always
RestartSec=2
TimeoutStopSec=5
StandardInput=tty
StandardOutput=null
StandardError=null
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
