[Unit]
Description=Honda Accord Dashcam
After=multi-user.target

[Service]
Type=simple
User=chrismslist
ExecStart=/usr/bin/python3 -W ignore /home/chrismslist/car-hud/dashcam_service.py
Restart=on-failure
RestartSec=15
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
